html, body {
    height: 100%;
  }
  
  .inner {
    text-align: center;
  }
  
  .inner img {
    width: 32%;
  }
  
  body {
    color:#000000;
    background-color:#202020;
    overflow: hidden
  }
  
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: #FFFFFF;
}

div {
  border-radius: 5px;
  background-color: #2E2E2E;
  padding: 20px;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  font-family: "Arial";
  font-weight: 600;
}

input[type=email], textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #2E2E2E;
}

input:focus, textarea:focus {
border-color: #3282F6;
}

input[type=submit] {
  width: 100%;
  background-color: #919090;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3282F6;
}